# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
venv/
.venv/

# Node
node_modules/
dist/
.env.local

# Database
*.db
*.sqlite3
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp